name: linux

on:
  push:
    branches:
      - "*"
    paths-ignore:
      - "**.md"
  pull_request:
    branches:
      - "*"
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.builder.os }}
    strategy:
      fail-fast: false
      matrix:
        builder:
          - {
              cxx: g++-4.8,
              std: 11,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-18.04,
              install: g++-4.8,
            }
          - {
              cxx: g++-5,
              std: 11,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-18.04,
              install: g++-5,
            }
          - {
              cxx: g++-6,
              std: 11,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-18.04,
              install: g++-6,
            }
          - {
              cxx: g++-7,
              std: 11,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-18.04,
              install: g++-7,
            }
          - {
              cxx: g++-7,
              std: 14,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-18.04,
              install: g++-7,
            }
          - {
              cxx: g++-8,
              std: 11,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-18.04,
              install: g++-8,
            }
          - {
              cxx: g++-8,
              std: 14,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-18.04,
              install: g++-8,
            }
          - {
              cxx: g++-9,
              std: 14,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-20.04,
              install: g++-9,
            }
          - {
              cxx: g++-9,
              std: 17,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-20.04,
              install: g++-9,
            }
          - {
              cxx: g++-10,
              std: 11,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-20.04,
              install: "",
            }
          - {
              cxx: g++-10,
              std: 14,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-20.04,
              install: "",
            }
          - {
              cxx: g++-10,
              std: 17,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-20.04,
              install: "",
            }
          - {
              cxx: g++-10,
              std: 20,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-20.04,
              install: "",
            }
          - {
              cxx: g++-11,
              std: 11,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-20.04,
              install: "",
            }
          - {
              cxx: g++-11,
              std: 14,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-20.04,
              install: "",
            }
          - {
              cxx: g++-11,
              std: 17,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-20.04,
              install: "",
            }
          - {
              cxx: g++-11,
              std: 20,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-20.04,
              install: "",
            }
          - {
              cxx: clang++-9,
              std: 17,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-20.04,
              install: "",
            }
          - {
              cxx: clang++-10,
              std: 11,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-20.04,
              install: "",
            }
          - {
              cxx: clang++-10,
              std: 14,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-20.04,
              install: "",
            }
          - {
              cxx: clang++-10,
              std: 17,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-20.04,
              install: "",
            }
          - {
              cxx: clang++-11,
              std: 11,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-20.04,
              install: "",
            }
          - {
              cxx: clang++-11,
              std: 17,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-20.04,
              install: "",
            }
          - {
              cxx: clang++-11,
              std: 20,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-20.04,
              install: "",
            }
          - {
              cxx: clang++-11,
              std: 20,
              cxxflags: "-stdlib=libc++",
              build_type: Debug,
              os: ubuntu-20.04,
              install: "libc++-11-dev libc++abi-11-dev",
            }
          - {
              cxx: clang++-12,
              std: 11,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-20.04,
              install: "",
            }
          - {
              cxx: clang++-12,
              std: 17,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-20.04,
              install: "",
            }
          - {
              cxx: clang++-12,
              std: 20,
              cxxflags: "",
              build_type: Debug,
              os: ubuntu-20.04,
              install: "",
            }
          - {
              cxx: clang++-12,
              std: 20,
              cxxflags: "-stdlib=libc++",
              build_type: Debug,
              os: ubuntu-20.04,
              install: "libc++-11-dev libc++abi-11-dev",
            }

    steps:
      - name: "Checkout Code"
        uses: actions/checkout@v2
        with:
          submodules: "recursive"
          fetch-depth: 0

      - name: dependencies
        run: sudo apt install ninja-build ${{matrix.builder.install}}

      - name: Configure
        env:
          CXX: ${{matrix.cxx}}
          CXXFLAGS: ${{matrix.cxxflags}}
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=${{matrix.builder.build_type}} \
                -DCMAKE_CXX_STANDARD=${{matrix.builder.std}} -G Ninja --preset=ci-coverage

      - name: Build
        run: ninja -C build

      - name: Test
        working-directory: build
        run: ctest --output-on-failure -j 2
        env:
          CTEST_OUTPUT_ON_FAILURE: True
