name: macos

on:
  push:
    branches:
      - "*"
    paths-ignore:
      - "**.md"
  pull_request:
    branches:
      - "*"
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        build_type: [Debug]
        shared: [YES, NO]
        standard: [11, 17]

    steps:
      - uses: actions/checkout@v2

      - name: Create Build Environment
        run: cmake -E make_directory ${{runner.workspace}}/build

      - name: Configure
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -D BUILD_SHARED_LIBS=${{matrix.shared}} \
            -D CMAKE_CXX_STANDARD=${{matrix.standard}}

      - name: Build
        run: |
          threads=`sysctl -n hw.logicalcpu`
          cmake --build build  --config ${{matrix.build_type}} --parallel $threads

      - name: Test
        working-directory: build
        run: ctest --output-on-failure -j 2
        env:
          CTEST_OUTPUT_ON_FAILURE: True
